body {
    padding: 0;
    margin: 0;
  }
  
  .container {
    width: 1190px;
    margin: auto;
  
    .errmsg {
      width: 800px;
      margin: 100px auto;
      border: 1px solid #ccc;
      padding: 20px 30px;
  
      h3 {
        padding: 0;
        margin: 0;
        font-size: 20px;
        color: #900;
        border-bottom: 1px solid #500;
        padding-bottom: 10px;
        margin-bottom: 15px;
      }
  
      p {
        font-size: 14px;
        font-style: italic;
        color: #555;
        padding: 0;
        margin: 0;
      }
    }
  }
  
  .mediaList {
    margin: 25px auto;
    padding: 0;
    list-style: none;
  
    .mediaItem {
      border-top: 1px solid #eee;
      display: table;
      width: 100%;
  
      &:last-child {
        border-bottom: 1px solid #eee;
      }
  
      a {
        padding: 10px 0;
        display: table-cell;
        vertical-align: middle;
        color: #222;
        text-decoration: none;
        position: relative;
        height: 150px;
  
        &.thumbnail {
          padding-left: 170px;
        }
  
        img {
          width: 150px;
          height: 150px;
          object-fit: contain;
          position: absolute;
          left: 0;
          top: 15px;
        }
  
        h2 {
          padding: 0;
          margin: 0;
          font-size: 22px;
        }
        p {
          margin: 0;
          padding: 0;
        }
  
        .price {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 10px;
        }
        .desc {
          margin: 10px 0;
          font-size: 18px;
        }
  
        .date {
          font-size: 16px;
        }
      }
    }
  }
  
  .imageList {
    &:after {
      content: "";
      display: block;
      float: none;
      clear: both;
    }
  
    .imageItem {
      display: block;
      width: 20%;
      float: left;
  
      a {
        display: block;
        width: auto;
        border: 1px solid #eee;
        margin: 10px 15px;
        color: #000;
        text-decoration: none;
        transition: all 0.5s;
        height: 260px;
  
        .imgArea {
          width: 100%;
          height: 150px;
          overflow: hidden;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;
          }
        }
  
        .textArea {
          padding: 5px 15px 10px 15px;
  
          h4,
          ul {
            padding: 0;
            margin: 0;
          }
  
          h4 {
            font-size: 16px;
            margin: 5px 0;
          }
  
          ul {
            list-style: none;
  
            li {
              font-size: 14px;
              margin: 3px 0;
              padding: 0 5px;
            }
          }
        }
  
        &:hover {
          border: 1px solid #ff6600;
  
          img {
            transform: scale(1.1, 1.1);
          }
        }
      }
    }
  }